.mainContainer {
  padding: 20px;
}
.newcases {
  color: red !important;
}
.selected {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.tableData {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.info {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.title {
  line-height: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: rgb(230, 230, 230);
}
@mixin setBg($bgcolor, $text) {
  h6 {
    background-color: $bgcolor;
    color: $text;
    border-radius: 7px;
    width: 180px;
    max-width: 100%;
    margin: 0 auto;
    font-weight: 50;
    margin-bottom: 10px;
  }
  h4 {
    color: $text;
    font-weight: bold;
  }
}

.Cases {
  @include setBg(#fcf2e9, #e18425);
}
.recover {
  @include setBg(#cceadf, #00946d);
}
.dead {
  @include setBg(#ffebe9, #ff392b);
}
.treat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include setBg(rgba(153, 150, 150, 0.445), black);
}
.vaccincation {
  background-color: rgba(88, 226, 88, 0.411);
  color: rgb(41, 146, 41);
  border-radius: 10px;
}
