.mainContainer {
  padding: 20px;
}

.newcases {
  color: red !important;
}

.selected {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.tableData {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.info {
  width: 1000px !important;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.info .title {
  margin-bottom: 100px;
}

.Cases {
  background-color: #eedb6e;
  color: red;
  border-radius: 10px;
}

.recover {
  background-color: rgba(131, 226, 186, 0.562);
  color: #2eb32e;
  border-radius: 10px;
}

.dead {
  background-color: rgba(235, 158, 144, 0.432);
  color: red;
  border-radius: 10px;
}

.treat {
  background-color: rgba(156, 154, 154, 0.445);
  color: black;
  border-radius: 10px;
}
