.mainContainer {
  padding: 20px;
}
.newcases {
  color: red !important;
}
.selected {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.tableData {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.info {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 20px 0 20px;
  
}
.title {
  line-height:50px;
  border-radius:10px;
  margin-bottom: 50px;
  background-color: rgb(230, 230, 230);
}
@mixin setBg($bgcolor, $text) {
  h3 {
    color: $text;
  }
  border-left: 10px solid $bgcolor !important;
  border-radius: 10px;
}

.Cases {
  @include setBg(orange, orange);
}
.recover {
  @include setBg(rgb(16, 173, 16), rgb(46, 179, 46));
}
.dead {
  @include setBg(red, red);
}
.treat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include setBg(rgba(112, 106, 106, 0.445), black);
}
.vaccincation{
  background-color:rgba(88, 226, 88, 0.411);
  color:rgb(41, 146, 41);
  border-radius: 10px;
}