.mainContainer {
  padding: 20px;
}
.newcases {
  color: red !important;
}
.selected {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.tableData {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.info {
  width: 1000px !important;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;

  .title {
    margin-bottom: 100px;
  }
}
@mixin setBg($bgcolor, $text) {
  background-color: $bgcolor;
  color: $text;
  border-radius: 10px;
}
.Cases {
  @include setBg(rgb(238, 219, 110), red);
}
.recover {
  @include setBg(rgba(131, 226, 186, 0.562), rgb(46, 179, 46));
}
.dead {
  @include setBg(rgba(235, 158, 144, 0.432), red);
}
.treat {
  @include setBg(rgba(156, 154, 154, 0.445), black);
}
